* {
    box-sizing: border-box;
}

.body {
    min-height: 100vh;
    background-color: #cfd0cf;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header__title {
    margin: 40px 0;
    text-align: center;
    line-height: 47px;
    font-size: 42px;
    color: #434344;
}

.game-board {
    display: grid;
    grid-template-columns: fit-content(130px) fit-content(130px) fit-content(130px) fit-content(130px);
    row-gap: 25px;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
    perspective: 600px;
}

.game-board__card {
    width: 130px;
    height: 130px;
}

.playing-card {
  position: relative;
  transition: transform .5s;
  transform-style: preserve-3d;
  border: 5px solid white;
  border-radius: 9px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.playing-card_flip {
    transform: rotateY(180deg);
}

.playing-card__front {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top right, #22ab93, #19668d);
    backface-visibility: hidden;
}

.playing-card__back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    transform: rotateY( 180deg );
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playing-card__value {
    font-size: 75px;
}